<html lang="pt-br"  xmlns="http://thymeleaf.org"
                    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/cadastrarProduto.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>  
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript">

            $(function(){
                $("#descr").autocomplete({
                    source: "/cadastrarProduto/search",
                    delay: 500,
                    select: function(event, ui){
                        var keyword = ui.item.label; 
                        var ide = ui.item.value;                     
                        $("#idprod").val(ui.item.value);
                        $("#descr").val(ui.item.label);
                        return false;
                    }
                })
            })

            $('.valorEmReais').mask('000.000,00', {reverse: true});

            function mudarFormatoDecimal(){
                $('.valorEmReais').mask('000,000.00', {reverse: true});
            }


            function tratarImagem(){
                var caminho = document.getElementById("imagem").value;             
	            var arquivo = caminho.substring(caminho.lastIndexOf('\\') + 1);              
                document.getElementById("imagem").value = arquivo;
            }

            function enviar(endereco){
                if(endereco == "cadastrar"){
                    mudarFormatoDecimal();                 
                    document.forms[1].action = "/registrarProduto";
                    document.forms[1].submit();
                }
                if(endereco == "excluir"){
                    if(confirm("Confirmar exclusão?") == true){
                        document.forms[1].action = "/excluirProduto";
                        document.forms[1].submit();
                    }                    
                } 
            }
        </script>

        <script th:inline="javascript">
            function tratarImagem(){
                var caminho = document.getElementById("inputImagem").value;             
	            var arquivo = caminho.substring(caminho.lastIndexOf('\\') + 1);
                document.getElementById("imagem").value = arquivo;         
            }         
        </script>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <div class="container">
            <div id="cadastrar" class="form-group justify-content-center mt-2 col-12 col-sm-12 col-md-8 col-lg-8 col-xl-5">
                <div class="card-body">
                    <div class="row">
                        <div class="text-sm-12">
                            <h2>Cadastrar/Alterar Produto</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div id="busca" class="col-12">
                            <form id="busca" action="#" method="get"
                                th:action="@{/buscarProduto}" th:object="${produto}">
                                <div style="margin-left:10px; display:inline-block;" class="form-group col-2 mt-2">
                                    <input type="text" id="idprod" class="form-control" placeholder="Codigo" th:field="*{id}" th:value="${produto.id} == 0"/>                                    
                                </div>
                                <div style="display:inline-block;" class="form-group col-6 mt-2">
                                    <input type="text" id="descr" name="descr" th:field="*{descricao}" class="form-control" placeholder="Descrição" th:value="${produto.descricao}">                                   
                                </div>
                                <button style="display:inline-block;" type="submit" class="btn-block btn-primary btn-block col-2">Buscar</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div id="formulario" class="col-12">
                            <form method="post" enctype="multipart/form-data"  onsubmit="mudarFormatoDecimal()">
                                <div style="margin-left: 10px;" class="form-group col-10 mt-2">
                                    <label for="descricao">Descrição:</label>
                                    <input type="hidden" id="id" th:field="*{produto.id}" th:value="${produto.id}"></hidden>
                                    <input style="display:inline-block;" type="text" required th:value="${produto.descricao}" th:field="*{produto.descricao}" name="descricao" class="form-control">
                                </div>
                                
                                <div style="margin-left: 10px;" class="form-group col-11 col-sm-6 col-md-8 col-lg-4 col-xl-4 mt-2">
                                    <label for="preco">Preço:</label>
                                    <input type="text" required th:value="${produto.preco}" th:field="*{produto.preco}" name="valorEmReais" class="valorEmReais form-control">
                                </div>
                               
                                <div style="margin-left: 10px;" class="form-group col-11 col-sm-6 col-md-8 col-lg-4 col-xl-4 mt-2">
                                    <label for="quantidade">Quantidade:</label>
                                    <input type="number" required th:value="${produto.quantidade}" th:field="*{produto.quantidade}" name="quantidade" class="form-control">
                                </div>

                                <div style="display: inline-block;" class="col-7 col-sm-7 col-md-7 col-lg-6 col-xl-6 mt-1">
                                <div class="form-group mt-3">
                                    <label id="formCategoria" for="categoria">Categoria:</label>
                                    <select name="categoria" id="categoria" th:field="*{produto.categoria}">
                                        <option value='Medicamentos'>Medicamentos</option>
                                        <option value='Cosmeticos'>Cosméticos</option>
                                        <option value='Higiene'>Higíene</option>
                                        <option value='Saude'>Saúde</option>
                                        <option value='Infantil'>Infantil</option>
                                    </select>
                                </div>
                                
                                <div id="formGenerico" class="form-group col-6 col-sm-5 col-md-6 col-lg-5 col-xl-6 mt-3">
                                    <h5>Genérico</h5>
                                    <input type="radio" th:checked="${produto.generico} == true" id="simGenerico" name="generico" value="yes">
                                    <label for="generico">sim</label>
                                    <input type="radio" id="naoGenerico" name="generico" th:checked="${produto.generico} == false" value="no">
                                    <label for="generico">não</label>
                                </div>

                                
                                <div id="formGenerico" style="margin-left: 10px;" class="form-group col-6 col-sm-5 col-md-6 col-lg-5 col-xl-7 mt-3">
                                    <h5>Promoção</h5>
                                    <input type="radio" id="simPromocao" name="promocao" th:checked="${produto.promocao} == true">
                                    <label for="promocao">sim</label> 
                                    <input style="margin-left: 20px;" type="radio" id="naoPromocao" name="promocao" th:checked="${produto.promocao} == false">
                                    <label for="promocao">não</label>                                 
                                                          

                                <div style="margin-left: 10px;" id="precoPromocional" class="form-group col-8 col-xl-10 mt-1 mb-1">
                                    <input id="pricePromo" type="text" th:value="${produto.precoPromocional}" th:field="*{produto.precoPromocional}" name="precoPromocional" class="valorEmReais form-control">
                                </div>
                                </div>
                                </div>
                                <div id="imagemProduto" style="display: inline-block;">
                                    <img th:src="'../assets/' + ${produto.imagem}" alt="" class="img-fluid img-thumbnail">
                                    <small class="form-text" th:text="${produto.imagem}"></small>
                                </div>

                                <div style="margin-left: 10px;" class="form-group col-11 col-sm-11 col-md-11 col-lg-11 col-xl-10 mt-2">
                                    Imagem do Produto<br>
                                    <input type="file" name="inputImagem" id="inputImagem" onchange="tratarImagem()" class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10"/>          
                                    <input type="hidden" id="imagem" th:field="${produto.imagem}"></hidden>
                                </div>
                                </br>
                                <input  name="addOrEdit" value="Cadastrar" onclick="enviar('cadastrar')" style="margin-left:50px;display: inline-block;" class="btn btn-primary btn-block col-4">
                                <input  name="delete" value="Excluir" onclick="enviar('excluir')" style="margin-left:50px;display: inline-block;" class="btn btn-danger btn-block col-4">
                                    <!--<small class="form-text text-danger">Erro ao tentar realizar o cadastro!</small>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>